.container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url("../../../public/assets/bgImageBlue.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px;
}

.classicbtn, .mathbtn, .timebtn {
  padding: 20px;
  background-color: rgb(113, 115, 226);
  border-color: rgba(164, 172, 243, 0.993);
  border-style: solid;
  border-width: 7.5px;
  height: 600px;
  width: 400px;
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s ease;
  
}

.classicbtn {
  margin-right: 40px;
  background-image: url("../../../public/assets/classicimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.mathbtn {
  margin-right: 40px;
  background-image: url("../../../public/assets/mathimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.timebtn {
    background-image: url("../../../public/assets/timeimage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.classicbtn:hover, .mathbtn:hover, .timebtn:hover {
  width: 1000px; /* tamano al poner el mouse por encima */
}

.classicbtn::after, .mathbtn::after, .timebtn::after {
  font-size: 18px;
  color: black;
  opacity: 0;
  margin-top: 30px;
  transition: opacity 0.3s ease;
}

.classicbtn::after {
    content: "Descripción del modo"; /* Aquí puedes agregar el texto de la descripción */
}

.mathbtn::after {
    content: "Descripción del modo"; /* Aquí puedes agregar el texto de la descripción */
}

.timebtn::after {
    content: "Descripción del modo"; /* Aquí puedes agregar el texto de la descripción */
}

.classicbtn:hover::after, .mathbtn:hover::after, .timebtn:hover::after {
  opacity: 1;
}

